.login {
    min-width: 400px;
}
.login .checkbox span{
    font-size:  12px;
}
.login .form-control {
    border: 0px;
    box-shadow: none;
    background: #e5e6e6;

    block-size: 36.9922px;
    border-block-end-color: rgba(12, 12, 12, 0.12);
    border-block-end-style: solid;
    border-block-end-width: 0.989583px;
    border-block-start-color: rgb(12, 12, 12);
    border-block-start-style: none;
    border-block-start-width: 0px;
    border-end-end-radius: 2px;
    border-end-start-radius: 2px;
    border-inline-end-color: rgb(12, 12, 12);
    border-inline-end-style: none;
    border-inline-end-width: 0px;
    border-inline-start-color: rgb(12, 12, 12);
    border-inline-start-style: none;
    border-inline-start-width: 0px;
    border-start-end-radius: 2px;
    border-start-start-radius: 2px;
    caret-color: rgb(12, 12, 12);
    color: rgb(12, 12, 12);
    column-rule-color: rgb(12, 12, 12);
    display: block;
    height: 36.9922px;
    padding-block-end: 0px;
    padding-block-start: 0px;
    padding-inline-end: 0px;
    padding-inline-start: 0px;
    perspective-origin: 169.167px 18.4896px;
    text-decoration: none solid rgb(12, 12, 12);
    text-size-adjust: 100%;
    transform-origin: 169.173px 18.4961px;
    border-top: 0px none rgb(12, 12, 12);
    border-right: 0px none rgb(12, 12, 12);
    border-bottom: 0.989583px solid rgba(12, 12, 12, 0.12);
    border-left: 0px none rgb(12, 12, 12);
    border-radius: 2px;
    font: 16px / 29.5385px Roboto, sans-serif, Helvetica, Arial, sans-serif;
    outline: rgb(12, 12, 12) none 0px;
    padding: 0px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.login .floating-label input.form-control.dirty ~ label {
    top: 0px;
}
.login .floating-label .form-control:focus ~ label, .floating-label .form-control:focus ~ label {
    top: 0em;
    font-size: 14px !important;
}
.login .form-control:focus {
    background:  #e5e6e6;
    box-shadow: none;
}

.login .btns {
    color: #ffffff;
    background-color: #0aa89e;
    border-color: #0aa89e;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4.5px 14px;
    font-size: 13px;
    line-height: 1.846153846;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login .btns:hover, .btns:focus, .btns.focus, .btns:active, .btns.active, .open > .dropdown-toggle.btn-primary {
    color: #0aa89e;
    background-color: #077871;
    border-color: #076e68;
}

.login .btn-check:focus + .btn-primary, .btn-primary:focus {
    box-shadow: none;
}
.login-error {
    text-align: center;
    color: #dc3545;
    font-size: 12px;
}
