body {
  background: #e5e6e6;
  background-size: 100% 100%;
  color: #313534;
  -ms-overflow-style: scrollbar;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
