.dex-app-window .dex-search-container {
    height: 30px;
    margin-top: 0px;
    margin-left: 20px;
    width: 260px;
    color: #fff;
}
.dex-search-container i {
  padding-top: 9px;
}
.dex-search-container input {
   background: none;
   transition: 0.2s ease all;
   float: left;
   font-size: 11px;
   background: #fff;
   color: #000;
   height: 35px;
   margin-top: 4px;
   padding-left: 5px;
}
.dex-search-container input:focus {
   box-shadow: none;
}

.dex-search-container .form-control input:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 2px;
    width: 10px;
    visibility: hidden;
    background-color: #0aa89e;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

/* Style the submit button */
.form-control button {
  float: left;
  width: 20%;
  padding: 10px;
  background: none;
  font-size: 11px;
  border: none;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.form-control button:hover {
  /*background: none;*/
}
.dex-search-container .form-control.dirty {
    border-bottom: 1px solid #0aa89e;
}
