.widget-block {
    /*border: 1px solid #354251;*/
    background: #fff;
    float: left;
    width: 100%;
}
.widget-block-body {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    height:  238px;
    float: left;
    width: 100%;
}
.widget-controlls {
    width: 99%;
    float: left;
    margin-left: 1px;
}
.widget-btn {
    display: inline-block;
    font-size: 11px;
    color: #fff;
    text-shadow: 0 -1px rgb(46,53,58);
    text-decoration: none;
    user-select: none;
    line-height: 1.3em;
    margin-left: 4px;
    outline: none;
    border: 1px solid rgba(33,43,52,1);
    background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
    box-shadow:
    inset 0 1px rgba(101,114,126,1),
    inset 0 0 1px rgba(140,150,170,.8),
    0 1px rgb(83,94,104),
    0 0 1px rgb(86,96,106);
}

.tc-transfer-body-block-left {
    padding-left: 3px;
    padding-right: 3px;
    height: 220px;
    height: calc(100% - 5px);
    overflow-y: scroll;
}
.tc-transfer-body-block-right {
    padding-left: 1px;
    padding-right: 1px;
    height: calc(100% - 5px);
    overflow-y: scroll;
}

.tc-transfer-body-block-left::-webkit-scrollbar-track {border-radius: 1px;}
.tc-transfer-body-block-left::-webkit-scrollbar {width: 6px;}
.tc-transfer-body-block-left::-webkit-scrollbar-thumb {border-radius: 1px;background: #f0f2f5;}
.tc-transfer-body-block-left:hover::-webkit-scrollbar-thumb {background: #354251}

.tc-transfer-body-block-right::-webkit-scrollbar-track {border-radius: 1px;}
.tc-transfer-body-block-right::-webkit-scrollbar {width: 6px;}
.tc-transfer-body-block-right::-webkit-scrollbar-thumb {border-radius: 1px;background: #f0f2f5;}
.tc-transfer-body-block-right:hover::-webkit-scrollbar-thumb {background: #354251}